@import 'scss/responsive.scss';

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-top: 80px;

    [class="rs-input"] {
        &:hover {
            border-color: rgba(163, 0, 0, 0.521);
        }
        &:focus {
            border-color: rgba(163, 0, 0, 0.505);
            outline: 3px solid rgba(163, 0, 0, 0.297);
        }
    }
}

.button {
    background-color: rgb(163, 0, 0);
    color: white;
    margin-bottom: 10px;
}

.card {
    margin: auto;
    border-radius: 10px;
    position: relative;

    @include for-tablet-landscape-up {
        width: 500px;
        background-color: white;
        box-shadow: 0 5px 10px 0px #00000059;
    }
}

.link {
    background-color: white;
    text-align: center;
    width: fit-content;
    align-self: center;
}

.error {
    height: 20px;
    text-indent: 10px;
    color: red;
}