@import 'scss/responsive.scss';

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    padding-top: 80px;
}

.card {
    margin: auto;
    border-radius: 10px;
    position: relative;

    @include for-tablet-landscape-up {
        width: 500px;
        background-color: white;
        box-shadow: 0 5px 10px 0px #00000059;
    }
}

.link {
    background-color: white;
    text-align: center;
    width: fit-content;
    align-self: center;
}