@import "scss/colors";
@import "scss/ui.scss";
@import "scss/responsive.scss";

.container {
  @include bordering;
  @include bordertoping;
  height: 100%;
  background: $red8;
  padding: 20px;
  font-size: 24px;
  color: $white;
  gap: 40px;
}

.wrap {
  gap: 20px;
}

.form {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.img {
  @include bordering;
  @include bordertoping;
  width: 60%;
  background-color: $white;
  height: 100%;
  object-fit: contain;
  
  @include for-tablet-landscape {
    margin-bottom: 20px;
    width: 100%;
  }
  @include for-tablet-landscape-up {
    max-height: 300px;
  }
}

.header {
  font-size: 30px;
  height: 40px;
  color: $white;
}

.options {
  width: 100%;
}

.infoBlock {
  flex-wrap: nowrap;

  @include for-tablet-landscape {
    flex-direction: column;
  }
}

.info {
  flex-direction: column;
  padding-left: 40px;
  height: 100%;
  justify-content: unset;
  // gap: 20px;
  justify-content: space-between;
}

.bindBtn {
  font-size: 24px;
  line-height: 32px;
  margin-top: 20px;
  padding: 15px;
  background: linear-gradient(166deg, white, #ffffff);
  transition: all linear 0.2s;
    
  &:hover, &:focus {
    color: var(--rs-btn-default-text);
    background: linear-gradient(-13deg, #ffcc00, white);  
  }

  @include hoverscale;
}

.modal {
  display: flex;
  flex-direction: column;
  max-width: 260px;
  gap: 20px;
  font-size: 18px;
  margin: auto;
}

.icon {
  align-self: center;
  height: 40px;
  width: 40px;
  fill: green;
}

.description {
  padding-right: 20px;
}

.tagPicker {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}

.tag {
  font-size: 18px;
  line-height: 20px;
  padding: 10px;
  background-color: $white;
  color: var(--rs-btn-default-text);
  border-radius: 7px;
}