.app {
    z-index: 1;
    display: flex;
    width: 100%;
}

.background {
    background-position-x: right;
    background-position-y: top;
}

.wrap {
    position: relative;
    overflow: auto;
    height: 100%;
    background-color: white;
    padding: 30px 60px;
}

.wrapLand {
    max-width: 1600px;
    padding: 30px 60px;
    padding-left: 10%;
    margin: auto;
    width: 100%;
}

.containLand {
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.contLand {
    height: 100%;
}

.layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.container {
    padding: 40px 30px;
}