@import "scss/ui";

.sidebar {
    width: 20%;
    position: relative;
    color: black;
}

.logoWrap {
    padding: 10px;
    padding-left: 20px;
    background-color: rgba(163, 0, 0, 0.534);
    transition: ease all 0.5s;
    @include bordering;

    &:hover {
        background-color: rgba(163, 0, 0, 0.772);
    }
}

.logo {
    width: 120px;
}

.nav {
    width: 100%;
    font-size: 20px;

    [class="rs-nav-bar"] {
        display: none;

    }
}

.sideItem {
    transition: ease all 0.3s;
    border-bottom: 3px solid transparent;
    @include bordering;

    &:hover,
    &:focus {
        color: rgb(163, 0, 0) !important;
        background-color: rgba(255, 255, 255, 0.386);
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.386) 60%, transparent 100%);
        border-bottom: 3px solid rgb(163, 0, 0);
    }
}