@import "scss/ui";

.footer {
    height: 100px;
    background-color: rgba(163, 0, 0, 0.863);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
   
    @include bordertoping;

    a {
        color: white;
    }
}