@import "scss/ui.scss";

.app {
    z-index: 1;
    align-items: flex-end;
}

.background {
    background-position-x: right;
    background-position-y: top;
}

.header {
}

.content {
    height: 100%;
}

.wrap {
    overflow: auto;
    height: 100%;
    width: 90%;
    background-color: white;
}

.footer {
    height: 100px;
    @include bordertoping;
    background-color: rgba(163, 0, 0, 0.863);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}