.app {
    z-index: 1;
    overflow: auto;

    main {
        min-height: 2000px;
    }
}

.sidebar {
    z-index: 2;
    // position: fixed;
    // right: 0;
    // top: 100px;
    background-color: aqua;
}

.background {
    // position: fixed;
}

.footer {
    background: url("assets/img/backgrounds/black_car.jpg") no-repeat;
    background-position-y: -720px;
    background-position-x: center;
    height: 200px;
}