.app {
    z-index: 1;
    align-items: flex-end;
}

.background {
    background-position-x: right;
    background-position-y: top;
}

.content {
    height: 100%;
}

.wrap {
    overflow: auto;
    height: 100%;
    width: 90%;
    background-color: white;
}