@import "scss/colors";
@import "scss/ui";

.cars {
  gap: 20px;
}

.card {
  font-size: 24px;
  display: flex;
  gap: 20px;
  width: 600px;
  height: 300px;
  padding: 20px;
  background: $red8;
  color: $white;
  cursor: pointer;
  @include bordering;
  @include bordertoping;
  
  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px 0 $gray6;
  }
}

.header {
  font-size: 30px;
  height: 40px;
  color: $white
}

.img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: $white;
}

.options {
  width: 250px;
}

.badge {
  padding-right: 20px;
}