@import "scss/colors";
@import "scss/ui";

.carsFilter {
  display: flex;
  justify-content: left;
  gap: 5px;

  .searchInput {
    min-width: 270px;
  }

  .priceInput {
    max-width: 180px;
  }
}

.carsSorter {
  display: flex;
  justify-content: left;
  gap: 15px;
}

.cars {
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 250px;
  padding: 20px;
  background: $red8;
  color: $white;
  cursor: pointer;
  @include bordering;
  @include bordertoping;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 0 5px 0 $gray6;
  }
}

.header {
  font-size: 30px;
  height: 40px;
  color: $white;
}

.img {
  height: 170px;
  width: 170px;
  background-color: $white;
}

.options {
  width: 50%;
}
