@import "scss/colors";

@mixin redScroll {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $red;
  }
}

@mixin bordering {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

@mixin bordertoping {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

@mixin red-input {
  border-color: $red;
  outline: 3px solid $red2;
  box-shadow: none;
}

@mixin hoverscale {
  &:hover, &:focus {
    transform: scale(1.01);
    box-shadow: 0 0 10px 0 $shadow;
  }
}
