.redScroll {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 3px;
    }

    // &::-webkit-scrollbar-thumb {
    //     background-color: transparent;
    // }

    // &:hover {
        &::-webkit-scrollbar-thumb {
            background-color: rgb(163, 0, 0);
        }
    // }
}

@mixin bordering {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@mixin bordertoping {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}